.ag-theme-alpine {
  width: 100%;
  height: 100%;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.filter-item {
  flex: 1 1 250px;
  min-width: 250px;
}
